<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.1" targetFramework="net452" />
  <package id="Castle.Core" version="4.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net452" />
  <package id="Moq" version="4.7.137" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="NUnit" version="3.10.1" targetFramework="net452" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" targetFramework="net452" />
  <package id="WebApiDoodle" version="2.0.1" targetFramework="net452" />
  <package id="WebApiDoodle.Net.Http" version="2.0.1" targetFramework="net452" />
  <package id="WebApiDoodle.Net.Http.Client" version="2.0.1" targetFramework="net452" />
  <package id="WebApiDoodle.Net.Http.Client.Model" version="2.0.1" targetFramework="net452" />
  <package id="WebApiDoodle.Net.Http.Formatting" version="2.0.1" targetFramework="net452" />
  <package id="WebApiDoodle.Web" version="2.0.1" targetFramework="net452" />
  <package id="WebApiDoodle.Web.Meta" version="2.0.1" targetFramework="net452" />
  <package id="xunit" version="2.3.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net452" />
  <package id="xunit.analyzers" version="0.7.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.3.0" targetFramework="net452" />
  <package id="xunit.core" version="2.3.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.3.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.3.0" targetFramework="net452" />
</packages>